body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: #FFC2C2;
}

h1{
  color: #010A43;
}

.septa-middle-text h1{
  color: #010A43;
}

.septa-middle-text p{
  color: white;
}

footer{
  background-color: #FF9D9D;
}

footer a{
  color: white;
}

.open .bugger::after, .open .bugger::before{
  background-color: #FF9D9D;
}

.bugger,.bugger::after,.bugger::before{
  background-color: #9E579D;
}

/*-- Navgation--*/
header{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1{
    font-style: italic;
    font-size: 30px;
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

nav{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 50%;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    display: inline-block;
    transition: 300ms all linear;
}


nav a:hover{
    border-bottom: 3px solid red;
}


@media (max-width: 480px){
  
  header{
  height: 50px;
  width: 100%;
  display: block;
  text-align: left;
  }
    
    .menu{
      position: absolute;
      display: flex;
      top: 5px;
      right: 10px;
      height: 50px;
      width: 50px;
      z-index: 5;
      text-align: center;
      align-items:center;
    }
    
    .bugger{
      width: 50px;
      height: 7px;
      border-radius: 10px;
      background-color: white;
      transition-duration: 500ms;
      transition-property: all;
      transition-timing-function: linear;
    }
    
    .bugger::after,.bugger::before{
      content: " ";
      position: absolute;
      left: 0px;
      width: 50px;
      height: 7px;
      border-radius: 10px;
      transition-duration: 500ms;
      transition-property: all;
      transition-timing-function: linear;
      background-color: white;
    }
    
    .bugger::after{
      transform: translateY(15px);
    }
    
    .bugger::before{
      transform: translateY(-15px);
    }
    
    .open .bugger{
      background-color: transparent;
    }
    
    .open .bugger::after{
      transform: rotate(45deg);
    }
    
    .open .bugger::before{
      transform: rotate(-45deg);
    }
    
    nav{
      display: block;
      position: fixed;
      height: 0px;
      overflow: hidden;
      width: 100%;
      background-color: white;
      top: 0px;
      left: 0px;
      z-index: 2;
      transition-duration: 500ms;
      transition-property: height;
      transition-timing-function: linear;
    }
    
    .links{
      display: block;
      height: 100px;
      width: 60%;
      margin: 15px 20%;
      transition-duration: 1s;
      transition-property: all;
      border-top: 2px solid  #FF9D9D;
      border-bottom: 3px solid  #FF9D9D;
      text-align: center;
    }
    
    .links:hover{
      width: 80%;
      margin: 10%;
    }
    
    .links:hover a{
      margin-top: 10% ;
    }
    
    nav a{
      transition: 1s all linear;
      position: static;
      margin-top: 20%;
      color: black;
    }
}

@media (max-width:768px){
    nav a{
        left: 20px;
        font-size: 16px;
        margin-left: 5px;
    }
    
     .septa-middle-text{
      height: 700px;
    }
}

main{
  flex: 1 0 auto;
}

/*--welcome message--*/
.septa-middle-text{
  height: 80vh;
  width: 95%;
  border-radius: 10px;
  margin: 10px auto;
  padding: 20vh 0px 0px 0px;
  text-align: center;
}

.septa-middle-text h1{
  font-size: 70px;
  display: block;
  width: 100%;
  margin: 0px;
}

.septa-middle-text p{
    font-size: 30px;
    display: block;
    margin: 0px;
}

/*--footer--*/
footer{
    width: 100%;
    text-align: center;
    display: block;
    position: static;
    z-index: 1;
    bottom: 0px;
    left: 0px;
}